/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[尝]logs/
/[尝]Logs/
/Logs/
/UserSettings/
/[Cc]rash[Rr]eports/
/[Mm]emoryCaptures/
.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.slnx
sysinfo.txt
.DS_Store
DerivedData/
